.jobReport {
  padding: 20px 40px 20px 40px;
  border-bottom: 1px solid var(--border-color-1);

  &:last-of-type {
    border-bottom: none;
  }

  @media (max-width: 768px) {
    padding: 20px;
  }

  header {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.controls {
  display: flex;
  gap: 5px;

  @media (max-width: 768px) {
    padding-top: 20px;
    justify-content: flex-end;
  }
}

.title {
  margin-bottom: 0;
}

.date {
  font-size: 14px;
  font-weight: 600;
}

.details {
  
  header {
    margin-bottom: 15px;
    display: flex;
  }

  pre {
    font-size: 11px;
    text-wrap: wrap;
  }

  .jobMetadata {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    li {
      width: 100%;
      margin-bottom: 5px;

      strong {
        width: 90px;
        display: inline-block;
      }
    }
  }

  .jobTasksTableHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .count {
      font-weight: 500;
    }
  }
}
