node_modules
.pnp
.pnp.js

.env

coverage
out
dist
build
bin

.vercel
.turbo
.next
.idea

storybook-static

servers/media/public/admin
servers/media/public/cinema
servers/media/public/music
servers/media/public/photos

.DS_Store
