.arrow-link {
  display: inline-block;

  &:after {
    content: '➜';
    color: var(--accent-color);
    position: relative;
    right: 0;
    transition: all 300ms;
  }

  &:hover {
    
    a {
      text-decoration: underline;
    }

    &:after {
      color: var(--accent-color);
      text-decoration: none !important;
      right: -5px;
    }
  }

  a {
    margin-right: 5px;
    font-weight: 700;
    transition: all 500ms;
    color: var(--accent-color);
  }
}

.spin {
  transform: rotate(-360deg);
  transition: transform 0.3s;

  &:active {
    transform: rotate(0deg);
    transition: 0s;
  }
}

.capitalize {
  text-transform: capitalize;
}

.success-color {
  color: var(--success);
  i { color: var(--success); }
}

.warning-color {
  color: var(--warning);
  i { color: var(--warning); }
}

.danger-color {
  color: var(--danger);
  i { color: var(--danger); }
}

.checkered {
  background-color: var(--checkered-color-1);
  background-image:
    linear-gradient(45deg, var(--checkered-color-2) 25%, transparent 25%),
    linear-gradient(-45deg, var(--checkered-color-2) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--checkered-color-2) 75%),
    linear-gradient(-45deg, transparent 75%, var(--checkered-color-2) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

@keyframes inniePop {
  0% {
    transform: scale(100%);
  }
  10% {
    transform: scale(97%);
  }
  100% {
    transform: scale(100%);
  }
}
