.music-artist {
  width: 100%;

  &.has-image {

    .artist-layout {
      padding-left: 24%;
    }

    .artist-name {
      text-shadow: 0px 0px 8px #00000020;
    }
  }
  
  .artist-layout {
    height: 90px;
    border: 1px solid var(--border-color-1);
    border-radius: 12px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: var(--bg-1);
  }

  .artist-meta {
    padding: 17px;
    display: flex;
    gap: 6px;
    position: relative;
    z-index: 10;
  }

  .artist-link {
    color: var(--text-color-2);
    transition: box-shadow 150ms;

    &:hover {
      box-shadow: var(--box-shadow-2);
    }
  }

  .artist-name {
    padding: 17px 40px;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2em;
    position: relative;
    flex-grow: 1;
    z-index: 10;
  }

  .artist-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 66%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      background: linear-gradient(90deg, transparent 10%, var(--bg-1) 90%);
    }
  }

  .artist-stat {
    padding: 3px 6px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
    display: inline-flex;
    white-space: nowrap;
    gap: 5px;
    align-items: center;
    background-color: var(--bg-4);
  }
}
