.app-base {
  height: 100%;
  overflow: hidden;
  --sidebar-nav-width: 250px;
  --sidebar-nav-gutter: 40px;
  --file-browser-width: 340px;
  --file-browser-gutter: 10px;
  --header-height: var(--gutter);

  &[data-sidebar-mode="collapsed"] {
    --sidebar-nav-width: 66px;
  }
}

.context-menu-right-click-surface {
  height: 100%;
}

.base-context-menu-layer {
  height: 100%;
}

.toast-shower {
  position: absolute;
  bottom: 60px;
  right: 25px;
  z-index: 10000;
}

.settings-panel-motion {
  height: 100%;
}

.app-loading {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background: var(--bg-1);

  .message {
    width: 100%;
  }

  p {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;

    a {
      color: var(--accent-color);

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.scaffold {
  width: 100vw;
  height: 100%;
  padding-left: calc(var(--sidebar-nav-width) + var(--sidebar-nav-gutter));
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  /* transition: padding 300ms; */

  --page-toolbar-height: 78px;
  --page-title-bar-height: 40px;

  .page-toolbar {
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }

  @media (max-width: 768px) {
    padding-left: 0 !important;

    .page-toolbar {
      height: 38px;
      margin-bottom: 20px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

[data-layout="standard"] {

  .page-content {
    
  }
}

[data-layout="thin"] {

  .main-col {
    padding-top: 0;
  }

  .page-content {
    padding: 0;
  }

  .page-title-bar {
    padding-top: 23px;
  }
}

[data-layout="fixed"] {

  .main-col {
    height: 100%;
    padding-top: 0;
  }

  .page-content {
    height: 100%;
    padding: 0;
    overflow: hidden;
  }

  .page-title-bar {
    padding-top: 23px;
    padding-left: 20px;
  }
}

[data-layout="full"] {
  padding-left: 0;

  .main-col {
    padding-top: 0;
  }

  .page-content {
    height: 100%;
    padding: 0;
  }

  .sidebar-nav:before {
    box-shadow: var(--box-shadow-1);
  }
}

[data-layout="virtual"] {

  .main-col {
    height: 100%;
    padding-top: 0;
  }

  .page-content {
    height: 100%;
    padding: 0;
    overflow: hidden;
  }

  .page-title-bar {
    height: var(--page-title-bar-height);
    padding-top: 23px;
    padding-left: 20px;
  }

  .page-toolbar {
    top: 35px;
    position: absolute;
    z-index: 5000;
  }

  .virtual-layout {
    --adjust: 20px;

    /* height: calc(100% - var(--page-title-bar-height) - var(--adjust)); */
    height: 100%;
    
    @media (max-width: 768px) {
      --adjust: 0px;
    }
  }

  .virtual-root {
    height: 100%;
    padding: 0 20px;
  }

  .virtual-row {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    
    > div {
      flex-shrink: 0;
    }
  }

  .virtual-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.virtual-empty,
.procedural-empty {
  width: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  i {
    width: 60px;
    height: 60px;
    font-size: 60px;
    border-radius: 100%;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4em;
    color: var(--text-color-2);

    a, a:link, a:visited {
      color: var(--accent-color);
    }
  }

  footer {
    padding-left: 40px !important;
    padding-right: 40px !important;
    justify-content: flex-start !important;
  }
}

[data-layout="files"] {
  padding-left: calc(
    var(--sidebar-nav-width)
    + var(--sidebar-nav-gutter)
    + var(--file-browser-width)
    + var(--file-browser-gutter)
  );
}

[data-layout="procedural"] {

  .main-col {
    height: 100%;
    padding-top: 0;
  }

  .page-content {
    height: 100%;
    padding: 0;
    overflow: hidden;
  }

  .page-title-bar {
    padding-top: 23px;
    padding-left: 10px;
  }
}

.page-title-bar {
  margin-bottom: 20px;
  
  .page-title {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color-3);
  }
}

.main-col {
  width: 100%;
  height: 100%;
  padding-top: 3px; /* align the top of the main col with the top of the sidebar nav when in collapses mode */
  overflow-y: auto;
  position: relative;
  z-index: 1000;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.page-content {
  width: 100%;
  padding-top: var(--gutter);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  padding-bottom: var(--gutter);

  &.no-scroll {
    overflow: hidden;
  }

  h3 {
    width: 100%;

    @media screen and (max-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.app-page {
  height: 100%;

  &.loading {
    opacity: 0;
  }

  > .access-error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  /* &.sidebar-is-collapsed {
    height: 100%;
    padding-top: 40px;
    padding-left: 120px;
    background-color: '#aeb8b5';
  } */
}

.sidebar-nav-col {
  width: var(--sidebar-nav-width) !important;
  margin-top: 80px;
  margin-right: 40px;
  flex-shrink: 0;
  flex-grow: 0;
  transition: opacity 1000ms;
  position: fixed;
  left: 0;
  z-index: 2000;

  &[class*="collapsed"] {

    .indexingIcon {
      opacity: 0;
    }
  }

  @media (max-width: 768px) {
    width: 100% !important;
    position: fixed;
  }
}

.sidebar-bottom {
  width: var(--sidebar-nav-width);
  padding: 0 0 10px 15px;
  position: absolute;
  bottom: 2px;
  left: 2px;
}

[data-sidebar-mode="collapsed"] {

  .sidebar-bottom {
    width: calc(var(--sidebar-nav-width) + 3px);
    padding-left: 14px;
  }
}

.mini-queue {
  padding-bottom: 15px;

  .playback-queue {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      background-image: linear-gradient(var(--bg-2) -4%, transparent);
      z-index: 2;
    }
  }
}

.mini-audio-player {

  &.glass-enabled .animated-gradient {
    opacity: 1;
  }

  .animated-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--border-radius);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
  }

  .audio-player[data-size="mini"] {
    position: relative;
    z-index: 2;
  }

  .audio-player-buttons {
    width: 100%;
  }

  .audio-player-pagination {
    margin: 0 0 6px 9px;
    border-radius: var(--border-radius);
    display: inline-flex;
    align-items: center;
    gap: 5px;

    .audio-player-pagination-icons {

      button {
        padding: 5px;
      }

      i {
        font-size: 14px;
      }
    }

    p {
      font-weight: 600;
      font-size: 13px;
    }
  }

  .audio-player-list {
    position: relative;
    z-index: 2;
  }

  @media (max-width: 768px) {
    position: fixed;
    right: 90px;
    left: 15px;
    bottom: 15px;
    z-index: 6000;
    
    .mini-queue {
      display: none;
    }
    
    .audio-player-pagination {
      padding: 2px 5px 2px 2px;
      border: 1px solid var(--border-color-1);
      background: var(--bg-1);
    }
  }
}

[data-sidebar-mode="collapsed"] {
  @media (min-width: 768px) {
    .mini-audio-player {

      .no-collapse {
        display: none;
      }

      .audio-player-pagination {
        width: 100%;
        margin-left: 0;
      }

      .audio-player-pagination-icons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .audio-player[data-size="mini"] {
        padding: 7px;

        .release-image {
          order: 2;
        }

        .controls {
          height: auto;
          flex-direction: column;
          order: 1;

          .audio-player-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
}

.developer-tools {
  min-width: 250px;
  max-width: 500px;
  padding: 30px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  border-radius: 10px;
  border: 1px solid var(--border-color-1);
  box-shadow: var(--box-shadow-2);
  background-color: var(--bg-1);
  z-index: 9999999;

  .title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h6 {
      margin-bottom: 0;
    }
  }

  .grab {
    cursor: grab;
    user-select: none;
  }

  ul {
    margin-bottom: 20px;
  }

  .developer-tools-list {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
    
    > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 4px;

      > span {
        width: 100%;
      }
    }
  }

  .tolkien-warning {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .hr {
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    border-top: 1px solid var(--bg-4);
  }

  .developer-tools-current-route {
    margin-bottom: 20px;
  }

  .custom-select {
    z-index: 2;
  }
}

.procedural-layout {
  --numCols: 12;
  --gap: 10px;
  --rowHeight: calc(80px + calc(var(--gap) * 2));

  height: 100%;
  padding: 85px 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  overflow-y: auto;

  .procedural-layout-block {
    padding-bottom: calc(var(--gap) * 2);

    .procedural-layout-block-inner {
      height: 100%;
      margin: 0 calc(var(--gap));
    }

    .procedural-layout-block-title {
      margin-bottom: 0;
    }

    /* 1 col wide */
    &[data-size="12x1"] {
      width: 100%;
      height: calc(1 * var(--rowHeight));
    }
    &[data-size="12x2"] {
      width: 100%;
      height: calc(2 * var(--rowHeight));
    }
    &[data-size="12x3"] {
      width: 100%;
      height: calc(3 * var(--rowHeight));
    }
    &[data-size="12x4"] {
      width: 100%;
      height: calc(4 * var(--rowHeight));
    }
    &[data-size="12x5"] {
      width: 100%;
      height: calc(5 * var(--rowHeight));
    }
    &[data-size="12x6"] {
      width: 100%;
      height: calc(6 * var(--rowHeight));
    }

    /* 2 cols wide */
    &[data-size="6x1"] {
      width: 50%;
      height: calc(1 * var(--rowHeight));
    }
    &[data-size="6x2"] {
      width: 50%;
      height: calc(2 * var(--rowHeight));
    }
    &[data-size="6x3"] {
      width: 50%;
      height: calc(3 * var(--rowHeight));
    }
    &[data-size="6x4"] {
      width: 50%;
      height: calc(4 * var(--rowHeight));
    }
    &[data-size="6x5"] {
      width: 50%;
      height: calc(5 * var(--rowHeight));
    }
    &[data-size="6x6"] {
      width: 50%;
      height: calc(6 * var(--rowHeight));
    }

    /* 3 cols wide */
    &[data-size="4x1"] {
      width: 33.3333%;
      height: calc(1 * var(--rowHeight));
    }
    &[data-size="4x2"] {
      width: 33.3333%;
      height: calc(2 * var(--rowHeight));
    }
    &[data-size="4x3"] {
      width: 33.3333%;
      height: calc(3 * var(--rowHeight));
    }
    &[data-size="4x4"] {
      width: 33.3333%;
      height: calc(4 * var(--rowHeight));
    }
    &[data-size="4x5"] {
      width: 33.3333%;
      height: calc(5 * var(--rowHeight));
    }
    &[data-size="4x6"] {
      width: 33.3333%;
      height: calc(6 * var(--rowHeight));
    }

    /* Three-quarters col */
    &[data-size="8x1"] {
      width: 66.6666%;
      height: calc(1 * var(--rowHeight));
    }
    &[data-size="8x2"] {
      width: 66.6666%;
      height: calc(2 * var(--rowHeight));
    }
    &[data-size="8x3"] {
      width: 66.6666%;
      height: calc(3 * var(--rowHeight));
    }
    &[data-size="8x4"] {
      width: 66.6666%;
      height: calc(4 * var(--rowHeight));
    }
    &[data-size="8x5"] {
      width: 66.6666%;
      height: calc(5 * var(--rowHeight));
    }
    &[data-size="8x6"] {
      width: 66.6666%;
      height: calc(6 * var(--rowHeight));
    }

    &.flush {

      .procedural-layout-block-inner {
        margin-right: 0;

        .carousel {

          .carousel-header {
            padding-right: 15px;
          }

          .embla__viewport {
            margin-left: -20px;
            padding-left: 20px;
            position: relative;
            
            &:before {
              content: '';
              width: 20px;
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              background: linear-gradient(90deg, var(--bg-2) 0%, transparent 20%);
              z-index: 2;
            }
          }
        }
      }
    }

    .card {
      height: 100%;
    }
  }
}
