.app-menu {
  width: 100%;

  .web-apps {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > div {
      margin-bottom: 4px;
      display: flex;
      justify-content: center;
      flex: 1 0 50%;
    }

    .app-name {
      padding-top: 2px;
      font-weight: 800;
      font-size: 13px;
      text-align: center;
      color: var(--text-color-1);
    }

    svg {
      transition: all 150ms;
      transform: scale(1);
    }

    a {
      width: 100%;
      padding: 10px 0 5px;
      display: block;
      text-align: center;
    }

    a:hover {
      border-radius: 16px;
      background-color: var(--bg-3);
    }
  }
}
